body {
    margin: 0;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.text {
    display: inline-block;
    border: 3px solid aliceblue;
    border-radius: 30px;
    width: 15vw;
    font-size: 2.5vh;
    line-height: 0.9;
}

.text>.tiempo {
    font-size: 8vh;
}

.p1 {
    position: absolute;
    left: 0;
    text-align: left;
    z-index: 100;
    display: block;
    color: black;
    padding: 10px;
    width: 30%;
    padding-right: 30px;
    border-bottom-right-radius: 50px;
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p2 {
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 100;
    display: block;
    color: black;
    padding: 10px;
    width: 30%;
    padding-left: 30px;
    border-bottom-left-radius: 50px;
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.playerName {
    font-size: x-large;
}

.bateria {
    width: 100%;
}

.bateriaValue {
    background-color: darkgreen;
    text-align: center;
}